h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(248, 90, 72);
}

.caro-p{
    color: rgb(223, 235, 233);
    background-color:rgba(21, 22, 22, 0.368);
}

