.footer{
    color: #fff;
    width: 100%;
    
    background-color: rgba(49, 48, 48, 0.508);
    
}


.info{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 150px;
}

.btn-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
}

.icon{
    color: #fff!important;
}
.btngroup{
       height: 100px;
       display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(49, 48, 48, 0.508);
}

.button{
    /* background-color:#fff */
    
    border-radius: 5%  !important;
}
